<img src="https://www.dpo.rwth-aachen.de/global/show_picture_asis.asp?id=aaaaaaaabftpwfx" width=200 height=200 align="left" /> <img src="https://www.dpo.rwth-aachen.de/global/show_picture_asis.asp?id=aaaaaaaabftpxde" width=200 height=200 align="right" />

<h1><center> Introduction to Programming for Business Analytics </center></h1>  

<p style="text-align:left;">
    Murwan Siddig, Stefan Pilot
</p>
<a href="mailto:ipba@dpo.rwth-aachen.de">ipba@dpo.rwth-aachen.de</a> <br>

## Exercise 2: Elementary Data Types

Welcome to the second exercise sheet! A quick word of advice before you get started:

* Every task in the IPBA exercises is labelled:
    - Tasks labelled as ⭐ require that you reproduce what you saw during the lecture.
    - Tasks labelled as ⭐⭐ require that you apply your skills and knowledge in a new context or to a new problem.
    - Tasks labelled as ⭐⭐⭐ require that you do research to learn something that was not discussed in the lecture. 
* Some tasks ask you to write some Julia code. Type your code in the code cells which are labelled with `# Start your code here` or `# Test your function here`
* To find the answers, study the lecture videos, lecture slides, the book [Think Julia!](https://benlauwens.github.io/ThinkJulia.jl/latest/book.html), or the [official Julia documentation](https://docs.julialang.org/en/v1/). 
* If there is any task you cannot solve by yourself, ask for help on Moodle or in a live session.


### Task 1: Numeric Data Types ⭐
For each of the following data types, give an example for a Julia expression that evaluates to a value of this data type. Verify the correctness of your answer by calling the function `typeof` with the value your expression evaluates to as its argument.

1. `Float64`

In [ ]:
# Start your code here:

2. `Int64`

In [ ]:
# Start your code here:

3. `BigInt`

In [ ]:
# Start your code here:

### Task 2: Maximum and Minimum values ⭐⭐⭐

Use [the official Julia documentation](https://docs.julialang.org/en/v1/manual/integers-and-floating-point-numbers/) to find two built-in functions that tell you the minimum and maximum values of a given type, respectively. Write a Julia expression that involves each of the functions.

In [ ]:
# Start your code here:

In [ ]:
# Start your code here:

### Task 3: Overflow ⭐

Give an example for a Julia expression in whose evaluation an `Int64` overflow occurs.

In [ ]:
# Start your code here:

###  Task 4: Special `Float64` values ⭐

For each of the following `Float64` values, give an example for a Julia expression which evaluates to that value.

1. `NaN`

In [ ]:
# Start your code here:

2. `-0.0`

In [ ]:
# Start your code here:

3. `Inf`

In [ ]:
# Start your code here:

### Task 5: Precision of numeric data types  ⭐⭐

Which data type is more precise: `Int64` or `Float64`? Find arguments in favor of both possible answers.

### Task 6: UNIX time ⭐⭐

UNIX-like operating systems, like Linux, Android, and MacOS, represent the current date and time as the number of seconds that have passed since January 01., 1970, 00:00:00. On many computers, this is stored in a way that resembles the Julia data type `Int32`. `Int32` is just like `Int64`, except that it uses only 32 bits instead of 64 bits. The range of points in time that can be represented in this way is obviously limited. In what year does the latest representable point in time occur? Write Julia code to calculate the result.

(Hint: Use the built-in function `floor` to round down to whole years.)

In [ ]:
# Start your code here:

Solve the task again, but for a computer that uses `Int64` instead of `Int32` to store the timestamp.

In [ ]:
# Start your code here:

### Task 7: Boolean literals ⭐

List the two `Bool` literals.

In [ ]:
# Start your code here:

In [ ]:
# Start your code here:

### Task 8: Boolean expressions ⭐

Give three examples for a Julia expression that involves two numeric literals and evaluates to a `Bool` value.

In [ ]:
# Start your code here:

In [ ]:
# Start your code here:

In [ ]:
# Start your code here:

### Task 9: Converting between Int and Bool ⭐⭐⭐

Use the [official Julia documentation](https://docs.julialang.org/en/v1/manual/conversion-and-promotion/) to find built-in functions with which you can convert a `Bool` value to it's `Int` counterpart, and vice versa. Write a line of Julia for each of the two use cases.

In [ ]:
# Start your code here:

In [ ]:
# Start your code here:

### Task 10: Comparing numeric values for equality ⭐

1. Suppose you want to compare two Julia variables for equality after a numeric value has been assigned to each variable. Can you use the equality operator `==` in any case? What do you have to consider, and why?

In [ ]:
x1 = 0.1 + 0.2
x2 = 0.3
x1 == x2

### Task 11: Char literals ⭐

Give two examples for a `Char` literal.

In [ ]:
# Start your code here:

In [ ]:
# Start your code here:

### Task 12: `String` literals ⭐

Give two examples for a `String` literal.

In [ ]:
# Start your code here:

In [ ]:
# Start your code here:

### Task 13: Escape sequences ⭐

Give two examples for a `String` literal involving an escape sequence.

In [ ]:
# Start your code here:

In [ ]:
# Start your code here:

### Task 14: Concatenation ⭐

Consider the following `String` variables. Write a Julia expression that evaluates to the `String` value `"programming is fun"` (including the quotation marks). In your expression, do not use any literals.

In [ ]:
string1 = "programming"
string2 = "is"
string3 = "fun"
string4 = " "
string5 = "\""

In [ ]:
# Start your code here:

### Task 15: `emphasize` ⭐⭐

Write a Julia function called `emphasize` that receives one String parameter called `word`, concatenates `word` and two exclamation marks, and returns the result. For example, the expression `emphasize("Hello")` should evaluate to `"Hello!!"`, the expression `emphasize("I like trains!"`) should evaluate to `"I like trains!!!"` and so on.

Test your function by calling it with different arguments.

In [ ]:
# Start your code here:

In [ ]:
# Test your function here:

### Task 16: Slicing ⭐⭐
Write three Julia functions called `first_letter`, `last_letter` and `middle`, respectively. All three should have one String parameter called `word`. You can expect that `word` has at least 3 characters. The functions should return the first letter of `word`, last letter of `word`, and `word` without the first and last letter, respectively.

Test your functions.

In [ ]:
# Start your code here:

In [ ]:
# Test your function here:

In [ ]:
# Start your code here:

In [ ]:
# Test your function here:

In [ ]:
# Start your code here:

In [ ]:
# Test your function here:

### Task 17: Immutability ⭐⭐

From the lecture, you know that Strings are immutable in Julia. Is the following code a counterexample to this fact? Justify your answer.

In [ ]:
my_string = "Hello, "
my_string = "world!"

### Task 18: Vector literals ⭐

Give three examples for a `Vector` literal.

In [ ]:
# Start your code here:

In [ ]:
# Start your code here:

In [ ]:
# Start your code here:

### Task 19: Vectors vs Strings ⭐⭐

The two next code cells' second lines contain identical Julia statements, both reading
```julia
sequence[2] = 'x'.
```
In the context of the first cell, the statement is legal, but in the context of the second cell, the statement is illegal and causes an error message. Explain why this is the case in one sentence.

In [ ]:
sequence = ['a', 'b', 'c']
sequence[2] = 'x'
println(sequence)

In [ ]:
sequence = "abc"
sequence[2] = 'x'
println(sequence)

### Task 20: Deduce the data type ⭐⭐

Suppose the following three code cells could be executed without any error being thrown. Deduce the type of the variables `a`, `b` and `c` from this information.

In [ ]:
push!(a, 'y')

In [ ]:
print(b[3:5] * b[6:7])

In [ ]:
c[3] = 'x'
print(c[5:10])